<body>
<!--container_12 start here-->
<div class="container_12"> 
  
  <!--grid_12 start here-->
  <div class="grid_12"> 
    
    <!--logo_container start here-->
    <div id="logo_container"> <a href="#" id="logo"></a>
      <div class="clear"></div>
      <div class="tag_line">professional template</div>
    </div>
    <!--logo_container end here-->
    
    <div id="nav_wrapper">
      <ul id="nav">
        <li class="current_page_item"><a href="index.html"><aling="right">Home</a></li>
        <li ><a href="about.html">About</a></li>
        <li><a href="#">Portfolio</a>
          <ul>
            <li><a href="portfolio-single.html">Portfolio single</a></li>
            <li><a href="portfolio.html">Portfolio 2 Column</a></li>
            <li><a href="portfolio-3col.html">Portfolio 3 Column</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
    </div>
    <!--#nav_wrapper--> 
    
  </div>
  <!--grid_12 end here-->
  <div class="clear"></div>
  
  <!--grid_12 start here-->
  <div class="grid_12">
    <div id="slider">
      <div id="slideshow">
        <div class="slide_entry">
          <ul>
            <li>
              <h1 class="main_title">Curabitur nunc neque, porttitor in placerat et.</h1>
              <p class="subtitle">Vivamus at justo eros, in dapibus orci. Fusce sagittis, orci sit amet egestas aliquam, nisi tellus laoreet ante, vel ultrices urna diam et erat.</p>
              <img src="/assets/slider01.jpg" alt="Featured Img 2"  /> </li>
            <li>
              <h1 class="main_title">Aliquam sit amet lacus orci 2</h1>
              <p class="subtitle">Mauris mauris lectus, bibendum sit amet lobortis mattis, hendrerit non enim. Fusce ac duielit, etmalesuada</p>
              <img src="/assets/slider02.jpg" alt="Featured Img 1" /> </li>
            <li>
              <h1 class="main_title">Ut convallis ultricies nisl 3</h1>
              <p class="subtitle">Nam aliquam molestie odio, id egestas magna gravida eu. Curabitur massa metus, commodo non aliquam</p>
              <img src="/assets/slider03.jpg" alt="Featured Img 2"/> </li>
          </ul>
          <div id="number"></div>
        </div>
        <!-- end slide_entry_full div --> 
        
      </div>
      <!-- end slideshow_full div --> 
      
    </div>
    <!--slider end here--> 
    
  </div>
  <!--grid_12 end here-->
  <div class="clear"></div>
  
  <!--grid_3 start here-->
  <div class="grid_3">
    <div class="circle"><a href="#"><img src="/assets/circle_01.png" width="220" height="211" alt="" /></a></div>
  </div>
  <!--grid_3 end here--> 
  
  <!--grid_3 start here-->
  <div class="grid_3">
    <div class="circle"><a href="#"><img src="/assets/circle_02.png" width="220" height="211" alt="" /></a></div>
  </div>
  <!--grid_3 end here--> 
  
  <!--grid_3 start here-->
  <div class="grid_3">
    <div class="circle"><a href="#"><img src="/assets/circle_03.png" width="220" height="211" alt="" /></a></div>
  </div>
  <!--grid_3 end here--> 
  
  <!--grid_3 start here-->
  <div class="grid_3">
    <div class="circle"><a href="#"><img src="/assets/circle_04.png" width="220" height="211" alt="" /></a></div>
  </div>
  <!--grid_3 end here-->
  <div class="clear"></div>
  
  <!--grid_3 start here-->
  <div class="grid_3"> 
    
    <!--box start here-->
    <div class="box">
      <h2 class="home-items">Our Lovely 960 Grid</h2>
      <br />
      <p>This is a new lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!--box end here--> 
  </div>
  <!--grid_3 end here--> 
  
  <!--grid_3 start here-->
  <div class="grid_3"> 
    
    <!--box start here-->
    <div class="box">
      <h2 class="home-items">Round the Clock Support</h2>
      <br />
      <p>This is a new lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!--box end here--> 
  </div>
  <!--grid_3 end here--> 
  
  <!--grid_3 start here-->
  <div class="grid_3"> 
    
    <!--box start here-->
    <div class="box">
      <h2 class="home-items">Custom jQuery Plugins</h2>
      <br />
      <p>This is a new lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!--box end here--> 
  </div>
  <!--grid_3 end here--> 
  
  <!--grid_3 start here-->
  <div class="grid_3"> 
    
    <!--box start here-->
    <div class="box">
      <h2 class="home-items">Free Facebook Fan Page</h2>
      <br />
      <p>This is a new lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <!--box end here--> 
  </div>
  <!--grid_3 end here-->
  
  <div class="clear"></div>
  
  <!--grid_12 start here-->
  <div class="grid_12">
    <div class="divider"></div>
  </div>
  <!--grid_12 end here-->
  
  <div class="clear"></div>
  
  <!--grid_12 start here-->
  <div class="grid_12"> 
    
    <!--bottom_heading start here-->
    <div class="bottom_heading"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
    <!--bottom_heading end here--> 
    
    <a href="#" class="buy_button"></a> </div>
  <!--grid_12 end here-->
  <div class="clear"></div>
  
  <!--grid_12 start here-->
  <div class="grid_12">
    <div class="divider"></div>
  </div>
  <!--grid_12 end here-->
  <div class="clear"></div>
  
  <!--grid_12 start here-->
  <div class="grid_12"> 
    
    <!--footer start here-->
    
    <div id="footer"> 
      
      <!--grid_3 start here-->
      <div class="grid_3">
        <h1>Stay in touch</h1>
        <input name="" type="text" />
        <a href="javascript:" class="text_shadow"><b>Subscribe</b></a> </div>
      <!--grid_3 end here--> 
      
      <!--grid_3 start here-->
      <div class="grid_3 nomarginright">
        <h1>Partners</h1>
        <br />
        <p class="text_shadow">eGrappler.com - Open source resources for designers and developers.</p>
      </div>
      <!--grid_3 end here--> 
      
      <!--grid_3 start here-->
      <div class="grid_2 nomarginright paddingleft">
        <h1>Show some love</h1>
        <div class="social_icon"><a href="#"><img src="/assets/fb.png" width="16" height="16" alt="" /></a></div>
        <div class="social_icon"><a href="#"><img src="/assets/twt.png" width="16" height="16" alt="" /></a></div>
        <div class="social_icon"><a href="#"><img src="/assets/in.png" width="16" height="16" alt="" /></a></div>
        <div class="social_icon"><a href="#"><img src="/assets/di.png" width="16" height="16" alt="" /></a></div>
      </div>
      <!--grid_3 end here--> 
      
      <!--grid_3 start here-->
      <div class="grid_3 nomarginright paddingleft">
        <h1>Contact</h1>
        <br />
        <p class="text_shadow">Reach us at <a href="#">dummy@eGrappler.com</a><br />
          Call now +44 32 8875 3231</p>
      </div>
      <!--grid_3 end here--> 
      
    </div>
    
    <!--footer end here-->
    
    <div class="copyright">Copyright 2012 Clean Business.</div>
    <ul id="footer_nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">services</a></li>
      <li><a href="#">portfolio</a></li>
      <li><a href="#">contact</a></li>
      <li class="noborderright"><a href="#">blog</a></li>
    </ul>
  </div>
  <!--grid_12 start here-->
  
  <div class="clear"></div>
</div>
<!--container_12 end here-->
</aling="right">
</body>