<!--container_12 start here-->
<div class="container_12"> 
  
  <!--grid_12 start here-->
  <div class="grid_12"> 
    
    <!--logo_container start here-->
    <div id="logo_container"> <a href="#" id="logo"></a>
      <div class="clear"></div>
      <div class="tag_line">your tagline</div>
    </div>
    <!--logo_container end here-->
    
    <div id="nav_wrapper">
      <ul id="nav">
        <li><a href="index.html.erb">Home</a></li>
        <li ><a href="about.html.erb">About</a></li>
        <li><a href="#">Portfolio</a>
          <ul>
            <li><a href="portfolio-single.html.erb">Portfolio single</a></li>
            <li><a href="portfolio.html.erb">Portfolio 2 Column</a></li>
            <li><a href="portfolio-3col.html.erb">Portfolio 3 Column</a></li>
          </ul>
        </li>
        <li class="current_page_item"><a href="contact.html.erb">Contact</a></li>
        <li><a href="blog.html.erb">Blog</a></li>
      </ul>
    </div>
  </div>
  <!--grid_12 end here-->
  <div class="clear"></div>
  
  <!--grid_12 start here-->
  <div class="grid_12">
    <ul id="q_nav">
      <li><a href="index.html.erb">home</a></li>
      <li><a href="#">/</a></li>
      <li><a href="#"  class="active">Contact</a></li>
    </ul>
    <div class="clear"></div>
    <hr />
  </div>
  <!--grid_12 end here-->
  <div class="clear"></div>
  
  <!--grid_12 start here-->
  <div class="grid_12"> 
    
    <!--main_heading start here-->
    <div class="main_heading">
      <h2>Lorem ipsum dolor sit amet,<font class="pink"> contact us now</font>, and lets sit
        together to rock your next product.</h2>
    </div>
    <!--main_heading end here--> 
    
  </div>
  <!--grid_12 end here--> 
  
  <!--grid_3 start here-->
  <div class="grid_3">
    <h4>Our Locations</h4>
    
    <!--address start here-->
    <div class="address">
      <p class="dark_grey"><b>Singapore</b></p>
      <br />
      <p class="dark_grey">Suit 12, 1st floor, National IT tower,<br />
        553432, ABC, Singapore.<br />
        T: 874-232-099<br />
        F: 874-232-098</p>
    </div>
    <!--address end here--> 
    
    <!--address start here-->
    <div class="address">
      <p class="dark_grey"><b>Pakistan</b></p>
      <br />
      <p class="dark_grey">Suit 12, 1st floor, National IT tower,<br />
        553432, ABC,Pakistan.<br />
        T: 874-232-099<br />
        F: 874-232-098</p>
    </div>
    <!--address end here--> 
    
    <!--address start here-->
    <div class="address">
      <p class="dark_grey"><b>Malaysia</b></p>
      <br />
      <p class="dark_grey">Suit 12, 1st floor, National IT tower,<br />
        553432, ABC,Malaysia.<br />
        T: 874-232-099<br />
        F: 874-232-098</p>
    </div>
    <!--address end here--> 
    
    <!--address start here-->
    <div class="address">
      <p class="dark_grey"><b>Uk</b></p>
      <br />
      <p class="dark_grey">Suit 12, 1st floor, National IT tower,<br />
        553432, ABC, Uk.<br />
        T: 874-232-099<br />
        F: 874-232-098</p>
    </div>
    <!--address end here--> 
    
  </div>
  <!--grid_3 end here--> 
  
  <!--grid_9 start here-->
  <div class="grid_9"> 
    
    <!--contact_form start here-->
    <div id="contact_form"> 
      
      <!--section start here-->
      <div class="section nomarginleft">
        <label>Full Name</label>
        <input name="input" type="text" />
        <div class="required">required</div>
        <div class="clear"></div>
        <br />
        <br />
        <label>Email Address</label>
        <input name="input" type="text" />
        <div class="required_mail">required</div>
      </div>
      <!--section end here--> 
      
      <!--section start here-->
      <div class="section">
        <label>Company</label>
        <input name="input" type="text" />
        <div class="clear"></div>
        <br />
        <br />
        <label>Designation</label>
        <input name="input" type="text" />
      </div>
      <!--section end here-->
      <div class="clear"></div>
      <br />
      <br />
      <label>Message</label>
      <textarea name="" cols="" rows="" class="message"></textarea>
      <div class="send_btn"><a href="#" >Send Message</a></div>
    </div>
    <!--contact_form end here--> 
    
  </div>
  <!--grid_9 end here-->
  
  <div class="clear"></div>
  <br />
  <br />
  <br />
  <br />
  <!--grid_12 start here-->
  <div class="grid_12"> 
    
    <!--footer start here-->
    
    <div id="footer"> 
      
      <!--grid_3 start here-->
      <div class="grid_3">
        <h1>Stay in touch</h1>
        <input name="" type="text" />
        <a href="javascript:" class="text_shadow"><b>Subscribe</b></a> </div>
      <!--grid_3 end here--> 
      
      <!--grid_3 start here-->
      <div class="grid_3 nomarginright">
        <h1>Partners</h1>
        <br />
        <p class="text_shadow">eGrappler.com - Open source resources for designers and developers.</p>
      </div>
      <!--grid_3 end here--> 
      
      <!--grid_3 start here-->
      <div class="grid_2 nomarginright paddingleft">
        <h1>Show some love</h1>
        <div class="social_icon"><a href="#"><img src="images/fb.png" width="16" height="16" alt="" /></a></div>
        <div class="social_icon"><a href="#"><img src="images/twt.png" width="16" height="16" alt="" /></a></div>
        <div class="social_icon"><a href="#"><img src="images/in.png" width="16" height="16" alt="" /></a></div>
        <div class="social_icon"><a href="#"><img src="images/di.png" width="16" height="16" alt="" /></a></div>
      </div>
      <!--grid_3 end here--> 
      
      <!--grid_3 start here-->
      <div class="grid_3 nomarginright paddingleft">
        <h1>Contact</h1>
        <br />
        <p class="text_shadow">Reach us at <a href="#">dummy@eGrappler.com</a><br />
          Call now +44 32 8875 3231</p>
      </div>
      <!--grid_3 end here--> 
      
    </div>
    
    <!--footer end here-->
    
    <div class="copyright">Copyright 2012 Clean Business.</div>
    <ul id="footer_nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">services</a></li>
      <li><a href="#">portfolio</a></li>
      <li><a href="#">contact</a></li>
      <li class="noborderright"><a href="#">blog</a></li>
    </ul>
  </div>
  <!--grid_12 start here-->
  
  <div class="clear"></div>
</div>
<!--container_12 end here-->
